.pokemon-profile-container {
    margin: 10px 0 50px;
}

.pokemon-profile-name {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.pokemon-profile-boxart-container {
    margin: auto 15px 0;
    justify-content: center;
}

.pokemon-profile-img {
    width: 300px;
    height: 300px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: white;
}

.pokemon-profile-img-container {
    display: flex;
    justify-content: center;
    vertical-align: 50%;
}

.pokemon-profile-boxart-wrapper {
    position: relative;
    margin: auto 0 0;
    display: flex;
    justify-content: center;
}

.pokemon-profile-boxart {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-top: auto;
    border: 1px solid black;
    width: 275px;
    height: 275px;
}

.pokemon-profile-boxart-sprite {
    position: absolute;
    height: 80px;
    bottom: -25px;
    right: -25px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    box-shadow: -6px -6px 15px 0 black;
    cursor: pointer;
}

.pokemon-profile-boxart-sprite-clicked {
    margin-bottom: 10px;
    position: absolute;
    height: 80px;
    top: 100px;
    left: 100px;
    /* transition: 1s ease-in-out; */
    transform: scale(3);
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 15px 0 black;
}

.pokemon-profile-close-button {
    height: 25px;
    position: absolute;
    top: 35px;
    right: 25px;
    z-index: 1000;
    cursor: pointer;
}