.navbar {
  background-color: red;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  button {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    & > button > img {
      max-width: 50px;

      &:hover {
        animation: rotation 2s infinite linear;
      }
    }

    &__header {
      color: #ffcb05 !important;
      font-size: 42px;
      text-shadow: 2px 1px 3px #2a75bb, 0 0 1em #2a75bb, 0 0 0.2em #2a75bb;
    }
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
}
