.pokemon-name {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
}

.col {
    padding: 15px 15px;
}

.pokemon-card {
        transition: transform .25s;
}

.pokemon-card:hover {
    transform: scale(1.050);
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
  }