body {
  font-family: 'PokemonSolid';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PokemonHollow";
  src: local("PokemonHollow"),
    url("./fonts/Pokemon_Hollow.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
    url("./fonts/Pokemon_Solid.ttf") format("truetype");
}
