body {
  font-family: 'PokemonSolid' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PokemonSolid";
  src: local("PokemonSolid"),
    url("./fonts/Pokemon_Solid.ttf") format("truetype");
}
